.ipynb_checkpoints
.jpg
.txt
HW1 - Classification/output/cifar-10-batches-py/cifar-10-batches-py/data_batch_1
HW1 - Classification/output/cifar-10-batches-py/cifar-10-batches-py/data_batch_2
HW1 - Classification/output/cifar-10-batches-py/cifar-10-batches-py/data_batch_3
HW1 - Classification/output/cifar-10-batches-py/cifar-10-batches-py/data_batch_4
HW1 - Classification/output/cifar-10-batches-py/cifar-10-batches-py/data_batch_5
HW1 - Classification/output/cifar-10-batches-py/cifar-10-batches-py/readme.html
HW1 - Classification/output/cifar-10-batches-py/cifar-10-batches-py/test_batch
HW2 - Segmentation/data/horses/horse1.png
HW2 - Segmentation/data/video_models/dancing_man_model.mp4
HW2 - Segmentation/data/video_models/dinosaur_model.mp4
HW2 - Segmentation/data/video_models/jet_model.mp4
